*{
    margin: 0;
    padding: 0;
    }


.bton-submitn{
    background: rgb(68, 68, 241);
    font-size: 30px;
    width: 50px;
    height: 50px;  
}

.bton-submit{
    background: cyan;
    font-size: 30px;
    width: 50px;
    height: 50px;  
}

.bton-submita{
    background: rgb(255, 193, 78);
    font-size: 20px;    
    width: 212px;
    height: 50px;  
}

.form-input{
    background-color: gray;
    font-size: 20px;    
    width: 212px;
    height: 50px;  
}